<!-- Nav Bar -->
<nav>
  <div class="nav-wrapper" style="border-bottom: 1px solid black;">
    <ul class="left hide-on-med-and-down">
      <a href="#" class="brand-logo center" style="position">JavaScript News</a>
      <li class="home"><a href="/">Home</a></li>
      <li  class="savedArticles" ><a href="saved">Saved Articles</a></li>
    </ul>
    <ul class="hide-on-med-and-down valign-wrapper right">
      <li><a class="waves-effect halfway-fab waves-effect waves-light hover scrapeArticle right"> Scrape <i class="material-icons right">add</i></a></li>
      <li><a class="waves-effect halfway-fab waves-effect waves-light hover showhArticle right"> Show Articles </a></li>
    </ul>
    <ul class="left hide-on-large-only">
      <li class="modal-trigger savedArticles" href="#saveModal"><a>Saved Articles</a></li>
      <li><i class="fa fa-newspaper-o material-icons" style="height:auto;" aria-hidden="true"></i></li>
    </ul>
    <ul class="hide-on-large-only valign-wrapper right">
      <li><a class=" waves-effect halfway-fab waves-effect waves-light hover searchArticle right"><i class="material-icons">add</i></a></li>
    </ul>
  </div>
</nav>

<div class="containerOne">
  <div class="row">
  </div>
  </div>


